In [1]:
import pandas as pd

```bash
pip install sqlalchemy psycopg2-binary 
```

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [5]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [6]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [22]:
df2 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv')

In [9]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [40]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [48]:
x=date(2019,9,18)

In [63]:
df.query("lpep_pickup_datetime.dt.date == @x").groupby('PULocationID')['total_amount'].sum().sort_values()

PULocationID
207        3.80
158       11.80
23        12.00
4         16.71
59        16.80
         ...
41      9573.44
244     9587.63
166    11259.68
75     17152.16
74     17893.06
Name: total_amount, Length: 232, dtype: float64

In [38]:
query = """
SELECT `pulocationid`
FROM
yellow_tripdata_trip
"""

pd.read_sql(query, con=engine)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "pulocationid" does not exist
LINE 2: SELECT `pulocationid`
                ^

[SQL:
SELECT `pulocationid`
FROM
yellow_tripdata_trip
]
(Background on this error at: https://sqlalche.me/e/14/f405)

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/